################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/connect-4/.vs/connect-4/v16/Browse.VC.opendb
